@page {
    size: landscape;
}

body {
    font-family: "Titillium Web", Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 10px auto;
    padding: 0 10px;
    color: #1C2024;
}
a {
    color: #235295
}
h1 {
    font-weight: 700;
}

p.description {
    font-size: 1.3333333333rem;
}

table.export-table {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border-spacing: 2px;
}

table.export-table thead {
    border-style: solid;
}

table.export-table tr {
    border: 1px solid ;
}
table.export-table td,
table.export-table th {
    overflow-wrap: break-word;
    word-break: break-all;
}
table.export-table tr.row-odd {
    background-color: #f2f2f2;
}

table.export-table th {
    background-color: #ebeced;
}

table.export-table,
table.export-table th,
table.export-table td {
    border: 1px solid #c5c7c9;
    border-collapse: collapse;
}

table.export-table th,
table.export-table td {
    padding: 5px;
}
